:root {
  /* Dark Mode (Default) */
  --color-bg: #0a0a0a;
  --color-text: #e0e0e0;
  --color-accent: #00f0ff;
  --color-secondary: #7000ff;
  --color-card-bg: rgba(255, 255, 255, 0.03);
  --font-main: 'Inter', sans-serif;
}



* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-main);
  line-height: 1.6;
  overflow-x: hidden;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}